<div class="uk-height-viewport uk-width-expand uk-flex uk-flex-column uk-flex-stretch">
  <div class="messages uk-flex uk-flex-column-reverse uk-flex-1">
    
    <div class="message uk-flex uk-flex-middle uk-margin">
      <img class="uk-border-circle uk-margin-small-right uk-margin-small-left" src="https://www.shareicon.net/download/512x512/2016/05/24/769972_people_512x512.png" width="40" height="40" alt="Border circle">
      <div class="uk-padding-small uk-background-primary uk-border-rounded uk-width-large">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque unde numquam, dicta officiis fugit, esse error quidem consequatur nostrum totam sit molestiae tempore, illo nam exercitationem! Quis, delectus obcaecati.
      </div>
    </div>
    
    <div class="message uk-flex uk-flex-row-reverse uk-flex-middle uk-margin">
      <img class="uk-border-circle uk-margin-small-right uk-margin-small-left" src="https://www.shareicon.net/download/512x512/2016/05/24/769972_people_512x512.png" width="40" height="40" alt="Border circle">
      <div class="uk-padding-small uk-background-secondary uk-light uk-border-rounded uk-width-large">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque unde numquam, dicta officiis fugit, esse error quidem consequatur nostrum totam sit molestiae tempore, illo nam exercitationem! Quis, delectus obcaecati.
      </div>
    </div>

  </div>

  <div class="uk-flex">
    <textarea class="uk-textarea" rows="5" placeholder="Your message..."></textarea>
    <button class="uk-button uk-button-primary">
      Send
    </button>
  </div>
</div>
