<div class="uk-card uk-card-default uk-card-small uk-width-medium" *ngIf="person">
  <div class="uk-card-media-top">
    <div class="uk-card-badge uk-margin-small" *ngIf="user">
      <a *ngIf=" user.user_type >= 2 " (click)="bookmark(person.id)" class="uk-icon-button uk-background-primary uk-light" uk-icon="bookmark"></a>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; ratio: 1:1">
      <ul class="uk-slideshow-items" uk-lightbox="animation: slide">
        <li *ngFor="let image of person.images">
          <a class="uk-inline uk-height-1-1 uk-width-1-1" [href]=" 'http://rednit.habberdesign.eu/src/images/' + image ">
            <img [src]=" 'http://rednit.habberdesign.eu/src/images/' + image " alt="{{image}}" uk-cover>
          </a>
          <div 
            *ngIf="image.title" 
            class="uk-padding-small uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <p class="uk-margin-remove">{{image.title}}</p>
          </div>
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title">
      {{person.first_name}} {{person.last_name}} <small>({{person.age}})</small>
    </h3>
    <p>
      {{person.description}}
    </p>
  </div>
  <div class="uk-card-footer uk-flex uk-flex-between">
    <button class="uk-button uk-button-danger" (click)="dislike(person.id)">
      <i class="mdi mdi-delete mdi-24px"></i>
    </button>
    <button class="uk-button uk-button-primary" (click)="like(person.id)">
      <i class="mdi mdi-heart mdi-24px"></i>
    </button>
  </div>
</div>

