<div class="uk-height-viewport uk-background-primary uk-flex uk-flex-center uk-flex-middle">
  
  <div class="uk-card uk-card-body uk-card-default uk-width-large">
    <h3 class="uk-card-title uk-text-uppercase">Signup</h3>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="uk-form-stacked">

      <div class="uk-margin">
        <input 
          class="uk-input" 
          type="mail" 
          placeholder="E-mail" 
          formControlName="mail" 
          [class.uk-form-success]="signupForm.controls.mail.valid"
          [class.uk-form-danger]=" !signupForm.controls.mail.valid && signupForm.controls.mail.touched "
        >
      </div>

      <div class="uk-margin">
        <input 
          class="uk-input" 
          type="password" 
          placeholder="Password" 
          formControlName="password"
          [class.uk-form-danger]=" !signupForm.controls.password.valid && signupForm.controls.password.touched "
        >
      </div>

      <div class="uk-margin">
        <input 
          class="uk-input" 
          type="password" 
          placeholder="Repeat password" 
          formControlName="confirmPassword"
          [class.uk-form-danger]=" !signupForm.controls.confirmPassword.valid && signupForm.controls.confirmPassword.touched "
        >
      </div>

      <hr class="uk-divider-icon">

      <div class="uk-margin">
        <label class="uk-form-label">Birthday</label>
        <input 
          class="uk-input" 
          type="date" 
          placeholder="Birthday" 
          formControlName="birthday"
          [class.uk-form-success]="signupForm.controls.birthday.valid"
          [class.uk-form-danger]=" !signupForm.controls.birthday.valid && signupForm.controls.birthday.touched "
        >
      </div>

      <div class="uk-margin">
        <input 
          class="uk-input" 
          type="text" 
          placeholder="Firstname" 
          formControlName="firstname"
          [class.uk-form-success]="signupForm.controls.firstname.valid"
          [class.uk-form-danger]=" !signupForm.controls.firstname.valid && signupForm.controls.firstname.touched "
        >
      </div>

      <div class="uk-margin">
        <input 
          class="uk-input" 
          type="text" 
          placeholder="Lastname" 
          formControlName="lastname"
          [class.uk-form-success]="signupForm.controls.lastname.valid"
          [class.uk-form-danger]=" !signupForm.controls.lastname.valid && signupForm.controls.lastname.touched "
        >
      </div>

      <div class="uk-margin">
        <textarea 
          class="uk-textarea" 
          rows="5" 
          placeholder="Description" 
          formControlName="description"
          [class.uk-form-success]="signupForm.controls.description.valid"
          [class.uk-form-danger]=" !signupForm.controls.description.valid && signupForm.controls.description.touched "
          ></textarea>
      </div>

      <button class="uk-button uk-button-primary uk-width-1-1" [disabled]="!signupForm.valid">Signup</button>
  
    </form>
  </div>

  {{signupForm.value.birthday}}

</div>