<div class="uk-height-viewport uk-background-secondary uk-flex uk-flex-center uk-flex-middle">
  <div class="uk-container uk-container-large">

    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">All users</h3>

      <table class="uk-table uk-table-striped uk-table-hover uk-table-middle">
        <thead>
          <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>E-mail</th>
            <th>Birthdate</th>
            <th>Phone</th>
            <th>Creation date</th>
            <th>Last online</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="uk-table-shrink">
            <td>0</td>
            <td>Kasper</td>
            <td>Laursen</td>
            <td>habber@habber.dk</td>
            <td>13-01-1994</td>
            <td>52399914</td>
            <td>20-02-2018</td>
            <td>22-02-2018</td>
            <td>
              <button class="uk-button uk-button-primary">Edit</button>
              <button class="uk-button uk-button-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>